body {
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}


/* header */
.header{
    display: flex;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo{
    flex-basis: 100px;
    flex-grow: 1;
}

.nav{
    flex-basis: 100px;
}

.nav ul li a
{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}


/* section backgroud*/
.section-backgroud{
    width: 100%;
    height: 600px;
    background-image: url('./img/pexels-photo-4038919.jpeg');
    background-position: 100% 57.75%;
    background-size: 120%;
    position: relative;
}

.section-backgroud-conten{
    height: 100px;
    width: 60%;
    position: absolute;
    bottom: 150px;
    right: 20%;
    color: white;
    text-align:right;
}

.section-backgroud-conten h1{
    font-size: 3.75rem;
}

.section-backgroud-conten p{
    font-size: 1.125rem;
}


/* section founder */

.founder{
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.img-founder img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}


.about-founder{
    height: 300px;
    width: 100%;
    background-color: black;
}

.about-founder-conten{
    width: 60%;
    text-align: center;
    display: flex;
    margin: 0 auto;
    color: white;
    padding-top: 100px;
    box-sizing: border-box;
}

.about-founder-conten-1, .about-founder-conten-2{
    text-align: left;
    width: 50%;
}

.about-founder-conten-1 h2{
    font-size: 3.75rem;
    font-weight: 700;
}

.about-founder-conten-2 p {
    font-family: Roboto,sans-serif !important;
    line-height: 2;
}


/* section our cases */
.our-cases{
    width: 60%;
    height: 1000px;
    margin: 0 auto;
}

.our-cases-conten{
    text-align: center;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.our-cases-conten h2{
    font-size: 3rem;
    font-weight: 700;
}

.our-cases-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.our-cases-img-group-1{
    display: grid;
    height: 400px;
}

.img-group-1-1{
    background-size: cover;
    background-image: url('./img/ourcases/04BespokeNewYorkBrandingPrintBusinessCardsStationeryDIAUSABPOmin.jpg');
    border: 15px solid white;
    grid-column: 1/3;
}


.img-group-1-2{
    background-size: cover;
    background-image: url('./img/ourcases/cd.png');
    border: 15px solid white;
    grid-column: 3/4;
}


.our-cases-img-group-2{
    display: grid;
    height: 400px;
    
}

.img-group-2-1{
    background-size: cover;
    background-image: url('./img/ourcases/Untitled13.jpg');
    border: 15px solid white;
    grid-column: 1/2;
}

.img-group-2-2{
    background-size: cover;
    background-image: url('./img/ourcases/222553a749dcde051845c032ba11e013.jpeg');
    border: 15px solid white;
    grid-column: 2/3;
}

.img-group-2-3{
    background-size: cover;
    background-image: url('./img/ourcases/65f7c88b31988ade0bf27ce9897b0b58.jpeg');
    border: 15px solid white;
    grid-column: 3/4;
}




/* section blog */
.blog{
    display: flex;

    width: 100%;
    height: 400px;

    margin-top: 60px;
}

.blog-1{
    height: 100%;
    width: 25%;

    background-image: url('./img/blog/pexelsphoto3325681.jpeg');
    background-size: cover;
}
.blog-2{
    height: 100%;
    width: 25%;

    background-color: black;
    color: white;

    text-align: left;
    padding-top: 30px;
    padding-left: 20px;

    font-size: 10px;
}

.blog-2 h3{
    font-size: 4em;
    font-weight: 700;
}

.blog-3{
    height: 100%;
    width: 25%;

    background-color: white;

    text-align: left;
    padding: 30px 20px;

    font-size: 10px;
}

.blog-3 p {
    font-size: 1.8em;
    line-height: 1.6;
}

.blog-3 a{
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;

    color: black;
    border-bottom: 2px solid #000;
    padding-bottom: 5px
}

.blog-3 a:hover {
    color: black;
}

.blog-4{
    height: 100%;
    width: 25%;

    background-image: url('./img/blog/pexelsphoto3328071.jpeg');
    background-size: cover;
}


/* section creater */
.creater{
    width: 100%;
    height: 1000px;

    background-color: black;

    padding-top: 100px;
    box-sizing: border-box;
}

.creater-img{
    height: 60%;
    width: 30%;
    
    margin: 0 auto;
    
}

.creater-img-1{
    background-color: white;
    height: 180px;
    width: 100%;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.creater-img-2{
    background-image: url('./img/creater/pexelsphoto3423888.jpeg');
    background-size: cover;
    width: 328px;
    height: 100%;

    position: relative;
    left: 0px;
    right: 0px;
    margin: 0px auto;

    top: -50%;
    transform: translateY(12.5%);
}

.creater-content{
    width: 30%;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 10px;
}

.creater-content h3{
    font-size: 5em;
    width: 60%;
    margin: 0 auto;
    font-weight: 700;
}

.creater-content p{
    font-size: 1.65em;
    padding-top: 20px;
}

.creater-content a{
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    border-bottom: 2px white solid;
    padding-bottom: 2px;
}

.creater-content a:hover{
    color: white;
}


/* section contacts */
.contacts {
    height: 680px;
    width: 100%;
    display: flex;
}

.contacts-content{
    width: 50%;
    height: 100%;
    background-color: black;
}

.contacts-img{
    width: 50%;
    height: 100%;
    background-image: url('./img/contacts/pexelsphoto3443934.jpeg');
    background-size: cover;
}

.contacts-content{
    text-align: center;
    font-size: 10px;
}

.contacts-content img{
    height: 320px;
    width: 420px;
    margin-top: 100px;
}

.contacts-content p{
    color: white;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.6em;
}

.contacts-content a{
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    border-bottom: 2px white solid;
    padding-bottom: 5px;
}

.contacts-content a:hover{
    color: white;
}

.footer{
    height: 200px;
    width: 100%;
    padding-top: 20px;

    background-color: #333333;
    color: white;

    text-align: center;

    font-size: 10px;
}

.footer h4{
    font-size: 2em;
}

.footer h5{
    font-size: 1.4em;
}

.footer-created{
    padding-top: 50px;
}

.footer-created a{
    color: white;
}

.footer-created a:hover{
    color: white;
}